<!DOCTYPE html> 
<html>

<head> <title> Welcome To Moodvie! </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./../static/styles/css/main.css" />
</head>
<body>

    <header id="header">
        <div class="inner">
                <a href="index.html" class="logo">Moodvie</a>
               <nav id="nav">
               </nav>
            </div>
         </header>

    <section id="banner">
        <div class="inner">
               <h1>Moodvie: <span>Movie Recommendations<br />
                   based on your mood</span></h1>
            </div>
         </section>

    <section id="one">
    <div class="inner">
       <header>
          <h1>Get Started</h1>
       </header>
            {% for message in get_flashed_messages() %}
                    <p><b>Error</b>: {{ message }}</p>
                {% endfor %}
                {% if current_user.is_authenticated %}
                    <h2>Hi, {{ current_user.nickname }}!</h2>
                    <p><a href="{{ url_for('logout') }}">Logout</a></p>

                    <h2> Enter a URL of a photo and get movies! </h2>
                        <h4>Acceptable extensions:  'png', 'jpg', 'jpeg', 'gif'</h4>
                     <form action="/EnterURLmovie/" method="post">
                         <input type="text" name="url">
                         <input type=submit value="Enter a URL">
                    </form>

                    <form action="/pastRecs/" method="get">
                         <input type=submit value="Past">
                    </form>

                    <b>{{ error }}</b>

                    <p>Don't have an URL? Upload a photo right now!<br>
                        <a href="upload">Upload now</a>
                    </p>

                {% else %}
                    <h2>I don't know you!</h2>
                    <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
            {% endif %}

            
        </div>
    </section>



<footer>
  
</footer>

<script src="./../static/styles/js/jquery.min.js"></script>
<script src="./../static/styles/js/skel.min.js"></script>
<script src="./../static/styles/js/util.js"></script>
<script src="./../static/styles/js/main.js"></script>

</body>

</html>

