<!DOCTYPE html>
<html>
<head> <title> Welcome To Moodvie! </title>

</head>
<body>

    {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <h2>I don't know you!</h2>

            <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
    {% endif %}

       <h2> Enter a URL of a photo and get movies! </h2>
    <h4>Acceptable extensions:  'png', 'jpg', 'jpeg', 'gif'</h4>
        <form action="/EnterURLmovie/" method="post">
            <input type="text" name="url">
            <input type=submit value="Enter a URL">
        </form>

        <form action="/pastRecs/" method="get">
            <input type=submit value="Past">
        </form>
    </div>

</body>

</html>