<!DOCTYPE html>
<html>

<head> <title>Moodvie Past Results</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./../static/styles/css/main.css" />


<style>

    img {
        max-width: 50%;
    }

    #two {
        padding: 2em 0;
    }

</style>

</head>
<body>

    <header id="header">
        <div class="inner">
                <a href="index.html" class="logo">Moodvie</a>
               <nav id="nav">
                 <form action="/index/" method="get">
                     <input style="background-color:#1c1c1c" type=submit value="Home">
                </form>
               </nav>
            </div>
         </header>

	{% if message|length == 1 %}
        <section id="one">
            <div class="inner">
                <header>
                    <h1> Here is your previous suggestion <h1>
			        <h2> Your previous mood was: {{message[0]}} </h2>
                </header>
            </div>
        </section>

        <section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
			                <h3> {{message2[0]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[0]}}>
                        </div>
			             <p> {{messageO[0]}} </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
			                <h3> {{message2[1]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[1]}}>
                        </div>
			             <p> {{messageO[1]}} </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
			                <h3> {{message2[2]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[2]}}>
                        </div>
			             <p> {{messageO[2]}} </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
			                <h3> {{message2[3]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[3]}}>
                        </div>
			             <p> {{messageO[3]}} </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="one">
            <div class="inner">
                <header>
                    <h3> {{message2[4]}} </h3>
                </header>
                <div class="fit">
                    <img style="max-width: 50%" src = {{ messageP[4] }}>
                </div>
                <p>{{messageO[4]}}</p>
            </div>
        </section>


        {% elif message|length >= 2%}


       	<section id="one">
            <div class="inner">
                <header>
                    <h1> Here are your previous suggestions <h1>
			        <h2> Your previous mood was: {{message[0]}} </h2>
                </header>
            </div>
        </section>

        <section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
			                <h3> {{message2[0]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[0]}}>
                        </div>
			             <p> {{messageO[0]}} </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
			                <h3> {{message2[1]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[1]}}>
                        </div>
			             <p> {{messageO[1]}} </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="two">
            <div class="inner">
                <article>
                    <div class="content">
                        <header>
			                <h3> {{message2[2]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[2]}}>
                        </div>
			             <p> {{messageO[2]}} </p>
                    </div>
                </article>
                <article class="alt">
                    <div class="content">
                        <header>
			                <h3> {{message2[3]}} </h3>
                        </header>
                        <div class="image fit">
                             <img src = {{ messageP[3]}}>
                        </div>
			             <p> {{messageO[3]}} </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="one">
            <div class="inner">
                <header>
                    <h3> {{message2[4]}} </h3>
                </header>
                <div class="fit">
                    <img style="max-width: 50%" src = {{ messageP[4] }}>
                </div>
                <p>{{messageO[4]}}</p>
            </div>
        </section>


            <section id="one">
                <div class="inner">
                    <header>
                        <h2> Your previous mood was: {{message[1]}} </h2>
                    </header>
                </div>
            </section>

            <section id="two">
                <div class="inner">
                    <article>
                        <div class="content">
                            <header>
                                <h3> {{message2[5]}} </h3>
                            </header>
                            <div class="image fit">
                                 <img src = {{ messageP[5]}}>
                            </div>
                             <p> {{messageO[5]}} </p>
                        </div>
                    </article>
                    <article class="alt">
                        <div class="content">
                            <header>
                                <h3> {{message2[6]}} </h3>
                            </header>
                            <div class="image fit">
                                 <img src = {{ messageP[6]}}>
                            </div>
                             <p> {{messageO[6]}} </p>
                        </div>
                    </article>
                </div>
            </section>

            <section id="two">
                <div class="inner">
                    <article>
                        <div class="content">
                            <header>
                                <h3> {{message2[7]}} </h3>
                            </header>
                            <div class="image fit">
                                 <img src = {{ messageP[7]}}>
                            </div>
                             <p> {{messageO[7]}} </p>
                        </div>
                    </article>
                    <article class="alt">
                        <div class="content">
                            <header>
                                <h3> {{message2[8]}} </h3>
                            </header>
                            <div class="image fit">
                                 <img src = {{ messageP[8]}}>
                            </div>
                             <p> {{messageO[8]}} </p>
                        </div>
                    </article>
                </div>
            </section>

            <section id="one">
                <div class="inner">
                    <header>
                        <h3> {{message2[9]}} </h3>
                    </header>
                    <div class="fit">
                        <img style="max-width: 50%" src = {{ messageP[9] }}>
                    </div>
                    <p>{{messageO[9]}}</p>
                </div>
            </section>
        



    {% else %}
         <section id="one">
            <div class="inner">
                <header>
                    <h2>You don't have any recommendations yet!</h2>
                </header>
            </div>
        </section>
	{% endif %} 


</body>

</html>